<section class="login-container">
    <div *ngIf="isLoading" style="text-align: center;">
        <app-loading-spinner></app-loading-spinner>
    </div>
    <form
        (ngSubmit)="onSubmit()"
        *ngIf="!isLoading"
        [formGroup]="form"
        fxLayout="column"
        fxLayoutAlign="center center"
        fxLayoutGap="1em"
    >
        <mat-form-field>
            <input
                formControlName="email"
                matInput
                placeholder="Your email"
                type="email"
            >
            <mat-hint *ngIf="form.get('email')?.untouched">Please enter a valid email.</mat-hint>
            <mat-error *ngIf="form.get('email')?.getError('required')">Field is required!</mat-error>
            <mat-error *ngIf="form.get('email')?.getError('email')">Invalid email.</mat-error>
        </mat-form-field>

        <mat-form-field>
            <input
                formControlName="password"
                matInput
                placeholder="Your password"
                type="password"
            >
            <mat-hint *ngIf="form.get('password')?.untouched">Please enter your password.</mat-hint>
            <mat-error *ngIf="form.get('password')?.getError('required')">Field is required!</mat-error>
        </mat-form-field>
        <button [disabled]="form.invalid" color="primary" mat-raised-button type="submit">Sign In</button>
    </form>
</section>
