::-webkit-scrollbar {
    width: 0.5em;
}

::-webkit-scrollbar-track {
    border-radius: 20%;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

::-webkit-scrollbar-thumb {
    border-radius: 20%;
    background-color: darkgrey;
    outline: 1px solid slategrey;
}

body {
    overflow-y: hidden;
}

.scroll-container {
    overflow-y: auto;
}

.messages-container {
    margin: 0;
    padding: 0;
}

.message {
    word-wrap: break-word;
}

@media only screen and (min-width: 1023px) and (max-width: 1365px) {
    .messages-container {
        max-height: 475px;
    }
}

@media only screen and (min-width: 1680px) {
    .messages-container {
        max-height: 780px;
    }
}

@media only screen and (min-width: 1921px) {
    .messages-container {
        max-height: 850px;
    }
}