::-webkit-scrollbar {
    width: 0.5em;
}

::-webkit-scrollbar-track {
    border-radius: 25%;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

::-webkit-scrollbar-thumb {
    border-radius: 25%;
    background-color: darkgrey;
    outline: 1px solid slategrey;
}

.chat-container {
    overflow-y: scroll;
}