{% extends 'base.html.twig' %}

{% block title %}{{ 'Messenger'|trans }}{% endblock %}

{% block body %}
    <div class="col">
        <ul class="list-group h-75 chat-container">
            {% if messages|default %}
                {% for message in messages %}
                    <li class="list-group-item">
                        <p>@{{ message.user.firstName }}</p>
                        <p>{{ message.message }}</p>
                    </li>
                {% endfor %}
            {% endif %}
        </ul>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
{% endblock %}