<mat-nav-list>
    <a (click)="onClose()" *ngIf="!isAuthenticated" mat-list-item routerLink="/sign-up">
        <mat-icon>assignment</mat-icon>
        <span class="nav-caption">Sign Up</span>
    </a>
    <a (click)="onClose()" *ngIf="!isAuthenticated" mat-list-item routerLink="/login">
        <mat-icon>input</mat-icon>
        <span class="nav-caption">Sign In</span>
    </a>
    <a (click)="onLogout()" *ngIf="isAuthenticated" mat-list-item>
        <mat-icon>eject</mat-icon>
        <span class="nav-caption">Sign Out</span>
    </a>
</mat-nav-list>
