body {
    min-height: 100%;
    height: auto;
}
.container {
    border: lightgray 1px solid;
    position: relative;
    top: 6em;
    width: 33%;
    height: 30%;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    margin-bottom: 6em;
}
.container-head {
    position: relative;
    top: 6em;
    margin: 0 auto;
    width: 33%;
    background-color: #337ab7;
    padding: 1px;
    text-align: center;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
.content {
word-wrap: break-word;
text-align: center;
margin-top: 20px;
}
.header-container {
    border: 1px solid transparent;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    background-color: #2E6DF2;
    position: absolute;
    top: 0;
    width: 100%;
}
.header-container-text {
    text-align: center;
}
.home-url {
    float: left;
    margin-left: 23px;
    color: black;
}
.home-url:link {
    text-decoration: none;
}
.footer-container {
    border: 1px solid transparent;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    background-color: #2E6DF2;
    position: fixed;
    bottom: 0;
    width: 100%;
}
.footer-container-text {
    text-align: center;
}
.login-button {
    margin: 0 auto;
    float: none;
}
.error-block {
    margin-bottom: 10px;
    border-radius: 10px;
    padding: 5px;
}
.register {
    float: right;
    display: inline-block;
    margin-right: 30px;
    margin-top: 7px;
}
input.checkbox-register {
    margin: 11px 10px 0;
    float: left;
}